################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CoverageReport/class.js
/CoverageReport/DeviceManagement.Api_AddCreatedTimeToDevice.html
/CoverageReport/DeviceManagement.Api_AddCreatedTimeToDevice1.html
/CoverageReport/DeviceManagement.Api_AddIsDeleted.html
/CoverageReport/DeviceManagement.Api_AddUsers.html
/CoverageReport/DeviceManagement.Api_AddUsers1.html
/CoverageReport/DeviceManagement.Api_ApiResponse_1.html
/CoverageReport/DeviceManagement.Api_AppDbContext.html
/CoverageReport/DeviceManagement.Api_AppDbContextModelSnapshot.html
/CoverageReport/DeviceManagement.Api_AuthController.html
/CoverageReport/DeviceManagement.Api_AuthService.html
/CoverageReport/DeviceManagement.Api_Category.html
/CoverageReport/DeviceManagement.Api_ConflictException.html
/CoverageReport/DeviceManagement.Api_CreateDeviceDto.html
/CoverageReport/DeviceManagement.Api_CreateDeviceDtoValidator.html
/CoverageReport/DeviceManagement.Api_Device.html
/CoverageReport/DeviceManagement.Api_DeviceController.html
/CoverageReport/DeviceManagement.Api_DeviceDto.html
/CoverageReport/DeviceManagement.Api_DeviceProfile.html
/CoverageReport/DeviceManagement.Api_DeviceQuery.html
/CoverageReport/DeviceManagement.Api_DeviceService.html
/CoverageReport/DeviceManagement.Api_Employee.html
/CoverageReport/DeviceManagement.Api_ExceptionHandlingMiddleware.html
/CoverageReport/DeviceManagement.Api_FixCategoryRelationship.html
/CoverageReport/DeviceManagement.Api_HashPasswd.html
/CoverageReport/DeviceManagement.Api_Init.html
/CoverageReport/DeviceManagement.Api_JwtService.html
/CoverageReport/DeviceManagement.Api_LoginRequestDto.html
/CoverageReport/DeviceManagement.Api_LoginRequestDtoValidator.html
/CoverageReport/DeviceManagement.Api_LoginResponseDto.html
/CoverageReport/DeviceManagement.Api_MakeUpdateAtNullable.html
/CoverageReport/DeviceManagement.Api_ModifyPasswd1.html
/CoverageReport/DeviceManagement.Api_NotFoundException.html
/CoverageReport/DeviceManagement.Api_PagedResults_1.html
/CoverageReport/DeviceManagement.Api_Program.html
/CoverageReport/DeviceManagement.Api_UpdateDeviceDto.html
/CoverageReport/DeviceManagement.Api_UpdateDeviceDtoValidator.html
/CoverageReport/DeviceManagement.Api_User.html
/CoverageReport/DeviceManagement.Api_WeatherForecast.html
/CoverageReport/icon_cog.svg
/CoverageReport/icon_cog_dark.svg
/CoverageReport/icon_cube.svg
/CoverageReport/icon_cube_dark.svg
/CoverageReport/icon_fork.svg
/CoverageReport/icon_fork_dark.svg
/CoverageReport/icon_info-circled.svg
/CoverageReport/icon_info-circled_dark.svg
/CoverageReport/icon_minus.svg
/CoverageReport/icon_minus_dark.svg
/CoverageReport/icon_plus.svg
/CoverageReport/icon_plus_dark.svg
/CoverageReport/icon_search-minus.svg
/CoverageReport/icon_search-minus_dark.svg
/CoverageReport/icon_search-plus.svg
/CoverageReport/icon_search-plus_dark.svg
/CoverageReport/icon_sponsor.svg
/CoverageReport/icon_star.svg
/CoverageReport/icon_star_dark.svg
/CoverageReport/icon_up-dir.svg
/CoverageReport/icon_up-dir_active.svg
/CoverageReport/icon_up-down-dir.svg
/CoverageReport/icon_up-down-dir_dark.svg
/CoverageReport/icon_wrench.svg
/CoverageReport/icon_wrench_dark.svg
/CoverageReport/index.htm
/CoverageReport/index.html
/CoverageReport/main.js
/CoverageReport/report.css
